<!--
# Copyright (c) 2009-2010 Novell, Inc.
#
# All Rights Reserved.
#
# This program is free software; you can redistribute it and/or modify it
# under the terms of version 2 of the GNU General Public License
# as published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, contact Novell, Inc.
#
# To contact Novell about this file by physical or electronic mail,
# you may find current contact information at www.novell.com
-->
<% disabled = cannot? :accept, License %>

<div id="eula" class="plugin-content plugin-border">

<%= form_for(:eula, :url => { :action => :update, :id => @eula_id }, :html=> { :method => :put, :class=>"webyast_form"}) do |f|  -%>

  <div class="plugin-header">
    <div class="left">
      <label class="plugin-icon-container"><%= image_tag("eulas.png", :class=>"plugin-icon") %></label>
      <label class="plugin-name"><%=_("License Agreement")-%> - <%= @eula.name -%></label>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="clearfix">&nbsp;</div>

  <fieldset class="webyast_fieldset eula_fieldset">
    <div class="eula-text-area">
      <%= h(@eula.text).gsub("\n", "<br/>").html_safe %>
    </div>

    <div class="clearfix">&nbsp;</div>

    <% if @eula.only_show %>
      <%=  hidden_field_tag :accepted, "true" %>
    <% else %>
      <div class="fieldset_body eula_fieldset_body">
        <% if @eula.accepted %>
          <div>
            <strong><%= _("This license agreement has been already accepted.") %></strong>
          </div>
        <% else %>
          <div class="row">
            <%=  f.radio_button :accepted, :true, :checked => @eula.accepted, :readonly => disabled, :disabled => disabled %>
            <%= label_tag :eula_accepted_true, _("Yes, I agree to the license agreement."), :style => "width: auto" %>
          </div>
          <div class="row">
            <%=  f.radio_button :accepted, :false, :checked => (! @eula.accepted), :readonly => disabled, :disabled => disabled %>
            <%= label_tag :eula_accepted_false, _("No, I do not agree."), :style => "width: auto" %>
          </div>
        <% end %>
      <% end -%>
      <% unless @eula.text_lang == 'en' then %>
      <%= f.hidden_field :text_lang %>
    <% end %>
  </fieldset>

  <div class="clearfix"></div>

  <div class="button_container">
    <div class="hr">&nbsp;</div>
    <div class="nav-buttons">
      <% if @eula.accepted  %>
        <% unless @last_eula %>
          <%= link_to _("Next"), :action => :show, :id => @eula_id + 1 %>
          <%= form_str_spacer %>
        <% end %>
      <% else %>
        <%= form_next_button :disabled => disabled%>
          <%= form_str_spacer %>
      <% end %>

      <%= if @first_eula
        @first_basesystem_step ? "" : form_back_button
      else
        link_to _("Back"), :action => :show, :id => @prev_id
      end %>
    </div>
  </div>
<% end -%>
</div>
