<p>
  <b>resolvableId:</b>
  <%=h @patch_update.resolvableId %>
</p>

<p>
  <b>Kind:</b>
  <%=h @patch_update.kind %>
</p>

<p>
  <b>Name:</b>
  <%=h @patch_update.name %>
</p>

<p>
  <b>Arch:</b>
  <%=h @patch_update.arch %>
</p>

<p>
  <b>Repo:</b>
  <%=h @patch_update.repo %>
</p>

<p>
  <b>Summary:</b>
  <%=h @patch_update.summary %>
</p>


<%= link_to 'Back', patch_updates_path %>
