<h1>Calling YaST-Module: <%=h @yastModule.id %></h1>

<% form_tag do %>
  <% @yastModule.commands.each do |name,descr| %>
     <%= radio_button_tag :command, name, false %><%=h name%>; <%=h descr["help"]%> <br/><br/>
     <% descr["options"].each do |name,option| %>
        <label for=<%=h name%>><%=h name%>;  <%=h option["help"]%>; format(<%=h option["type"]%>) </label> <br/>
        <%= text_field_tag name, params[name] %> <br/>
     <% end %>
     <hr>
  <% end %>
  <br>
  <%= submit_tag "Run Module" %>
<% end %>

<%= link_to 'Back', yast_modules_path %>
