<!--
# Copyright (c) 2009-2010 Novell, Inc.
#
# All Rights Reserved.
#
# This program is free software; you can redistribute it and/or modify it
# under the terms of version 2 of the GNU General Public License
# as published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, contact Novell, Inc.
#
# To contact Novell about this file by physical or electronic mail,
# you may find current contact information at www.novell.com
-->

<%# FIXME: move this to a separate JS file -%>
<%= content_for :before_script do %>
  <%= javascript_tag do -%>
    function show_progress()
    {
      $.modalDialog.wait( {message: <%= jss _("Please wait") -%>});
    }

    $(document).ready(function(){
      $("#registrationform").validate({
        submitHandler: function(form) {
          show_progress();
          form.submit();
        }
      });

      $.extend($.validator.messages, {
        email: <%= jss _("Please enter a valid email address.") %>,
        required: <%= jss _("This field is required.") -%>
      });
    });
  <% end %>
<% end %>

<%= content_for :head do %>
  <%= stylesheet_link_tag "webyast-registration" %>
<% end %>

<div class="plugin-content plugin-border">

  <% form_target_save = '/registration/' + (@nexttarget.kind_of?(String) ? @nexttarget : 'skip') %>
  <div class="webyast_form">
    <div class="plugin-header">
      <div class="left">
        <label class="plugin-icon-container"><%= image_tag("registration.png", :class=>"plugin-icon") %></label>
        <label class="plugin-name"><%=_("Registration")%></label>
      </div>
      <%= render :partial => 'shared/online_help', :locals => { :help_name => "registration"} %>
      <div class="clearfix"></div>
    </div>
  </div>

  <div>&nbsp;</div>

  <% if @showstatus then %>
    <div class="webyast_form">
      <fieldset class="webyast_fieldset">
        <div class="fieldset_header">
          <span class="fieldset_header_title" ><%= _("Registration Information") %></span>
        </div>

        <div class="fieldset_body">
          <div class="row">
            <%= image_tag("checkmark.gif", :style=>"vertical-align:middle", :size => "24x24") %>
            <strong><%= _("This system is registered") %></strong> <!-- RORSCAN_ITL -->
          </div>
          <div class="row">
            <small><%= _("System number (GUID)") + ":" %> <%= @guid %></small> <!-- RORSCAN_ITL -->
          </div>
          <div class="row">
            <%= link_to _('Register again'), {:controller => :registration, :action => :reregister}, :onclick=>"show_progress();", :class => "button" %>
          </div>
        </div>
      </fieldset>

      <div>&nbsp;</div>

      <div class="button_container">
        <div class="hr">&nbsp;</div>
        <div class="nav-buttons">
          <%= form_back_button %>
          <%= if basesystem_in_process? then
            ret = form_str_spacer
            ret += link_to _("Next"), {:controller => :controlpanel, :action => :nextstep}, :class => "button"
          end
        %>
        </div>
      </div>
    </div>

  <% else %>
    <%= form_tag form_target_save, { :id => "registrationform", :class=>"webyast_form" } do -%>

      <% if !@arguments_mandatory.blank? then %>
        <fieldset class="webyast_fieldset">
          <div class="fieldset_header">
            <span class="fieldset_header_title" ><%= _("Mandatory Information") %></span>
          </div>

          <div class="fieldset_body">
            <% for argument in @arguments_mandatory %>
              <div class="row">
                <% label_options = argument["error"] ? {:class => :argument_error} : {} %>
                <%= label_tag "registration[arguments][#{argument["name"]}]", argument['description'], label_options %>
                <% text_field_options = argument["name"] == "email" ? {:class => "email required"} : {}%>
                <%= text_field_tag "registration[arguments][#{argument["name"]}]", argument["value"], text_field_options %>
              </div>
            <% end %>
          </div>
        </fieldset>
      <% end %>

      <% if !@arguments_detail.blank? then %>
        <div class="accordion">
          <fieldset id="argumentdetail" class="webyast_fieldset">
            <div class="fieldset_header">
              <span class="fieldset_header_title" ><%= _("Details") %></span>
            </div>

            <div class="fieldset_body">
              <% for argument in @arguments_detail %>
                <div class="row">
                  <%= label_tag "registration[arguments][#{argument["name"]}]", argument['description'].humanize %>
                  <%= text_field_tag "registration[arguments][#{argument["name"]}]", argument["value"] %>
                </div>
              <% end %>
            </div>
          </fieldset>
        </div> <!-- accordion -->
      <% end %>

      <div>&nbsp;</div>

      <div class="button_container">
        <div class="hr">&nbsp;</div>
        <div class="nav-buttons">
          <%= form_send_buttons %>
          <%= if basesystem_in_process? then
            postpone_msg = _('Postpone')
            form_str_spacer + link_to(postpone_msg, {:controller => :registration, :action =>:skip})
          end %>
        </div>
      </div>
    <% end  %>
  <% end -%>
</div>

