<!--
# Copyright (c) 2010 Novell, Inc.
# 
# All Rights Reserved.
# 
# This program is free software; you can redistribute it and/or modify it
# under the terms of version 2 of the GNU General Public License
# as published by the Free Software Foundation.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program; if not, contact Novell, Inc.
# 
# To contact Novell about this file by physical or electronic mail,
# you may find current contact information at www.novell.com
-->

<% content_for :head do %>

  <%= render :partial => "shared/notification", :locals => { :module_name => 'ldap'} %>

  <script type="text/javascript">
    $(document).ready(function() {
      validateDomainNameWithPortNumber("server");

      $("#ldapForm").validate();
      // make the error message translatable - override the default messsage
      $.extend($.validator.messages, {
        required: <%= jss _("This field is required.") -%>,
        server: <%= jss _("Enter a valid domain name or an IP address.")  -%> 
      });
    });

    $(document).ready(function() {
      if ($("#ldap_server", "#ldapForm").val() == "") {
        $("#fetch_dn").attr("disabled","disabled");
      };
      $("#ldap_server").keyup(function () {
        if ($("#ldap_server", "#ldapForm").val() == "") $("#fetch_dn").attr("disabled","disabled");
        else $("#fetch_dn", "#ldapForm").removeAttr("disabled");
      }); 

      if ($("#ldap_enabled:checked").length == 0) {
        $("#ldap_server").attr("disabled","disabled");
        $("#ldap_base_dn").attr("disabled","disabled");
        $("#ldap_tls").attr("disabled","disabled");
        $("#fetch_dn").attr("disabled","disabled");
      };

      $("#ldap_enabled").click(function () {
        if ($("#ldap_enabled:checked").length == 0) {
          $("#ldap_server").attr("disabled","disabled");
          $("#ldap_base_dn").attr("disabled","disabled");
          $("#ldap_tls").attr("disabled","disabled");
          $("#fetch_dn").attr("disabled","disabled");
        } else {
          $("#ldap_server", "#ldapForm").removeAttr("disabled");
          $("#ldap_base_dn", "#ldapForm").removeAttr("disabled");
          $("#ldap_tls", "#ldapForm").removeAttr("disabled");
          $("#fetch_dn", "#ldapForm").removeAttr("disabled");
        }
      });

      $('#ldapForm input[type="submit"]').click(function() {
        if ($('#ldapForm').valid()) {
          var message = <%= jss _("Please wait") -%>;
          $.modalDialog.wait( {message: message});
          $('#ldapForm').submit();
        }
      });
    });
  </script>
<% end %>

<% disabled = cannot? :write, Ldap %>

<div class="plugin-content plugin-border">
  <%= render :partial => 'shared/missing_write_permissions' if disabled %>
  
  <%= form_for(@ldap, :url => { :action => 'update' }, :html => { :method => :put, :id => 'ldapForm', :class=>"webyast_form" }) do |f| %>
    <div class="plugin-header">
      <div class="left">
        <label class="plugin-icon-container"><%= image_tag("ldap.png", :class=>"plugin-icon") %></label>
        <label class="plugin-name"> <%= _("LDAP client") %></label>
      </div>
      <div class="right" >
        <span id="questionMark" style="margin:2px 5px; float:none;">?</span>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="clearfix">&nbsp;</div>
  
    <fieldset class="webyast_fieldset">
      <div class="fieldset_header">
        <span class="fieldset_header_title" >
          <%= _("Enable LDAP Authentication") %>
          <%= check_box 'ldap', :enabled, {:disabled => disabled, :checked => @ldap.enabled}, true,false -%>
        </span>
      </div>

      <div class="fieldset_body">
        <div class="row">
          <%= label_tag :ldap_server, _("LDAP Server Address") %>
          <%= text_field :ldap, :server, :disabled => disabled, :class => "server required" %>
       </div>
          
        <div class="row">
          <%= label_tag :ldap_base_dn, _("Base DN") %>
          <%= text_field :ldap, :base_dn, :disabled => disabled, :class => "required" %>
          <%= link_to _("Fetch DN"),
                :url => { :controller=> :ldap, :action=> :fetch_dn },
                :remote => true,
                :loading => "$('#ldap_base_dn').attr('disabled', 'disabled'); $('#fetch_progress').show();",
                :complete => "$('#fetch_progress').hide(); $('#ldap_base_dn').removeAttr('disabled')",
                :with => "'server=' + $('#ldap_server').val()",
                :html => { :class=> "button", :id=> "fetch_dn", :style=>"vertical-align:middle;", :disabled=>disabled }
          %>
          <%= image_tag("working.gif", :class=>"small-working-icon", :id=>"fetch_progress", :style=>"display:none; vertical-align:middle;", :alt=>'working...') %>
        </div>
   
        <div class="row">
          <label><%= _("Secure Connection") %></label>
          <%= check_box 'ldap', :tls, {:disabled => disabled, :checked => @ldap.tls, :style=>"margin-left:-1px;" }, true,false -%>
        </div>
      </div>
    </fieldset>
      
    <div class="clearfix"></div>
      
    <div class="button_container">
      <div class="hr">&nbsp;</div>
      <div class="nav-buttons">
        <%= form_send_buttons :disabled => disabled %>
      </div>
    </div>
  <% end %>
</div>
