<!--
# Copyright (c) 2009-2010 Novell, Inc.
#
# All Rights Reserved.
#
# This program is free software; you can redistribute it and/or modify it
# under the terms of version 2 of the GNU General Public License
# as published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, contact Novell, Inc.
#
# To contact Novell about this file by physical or electronic mail,
# you may find current contact information at www.novell.com
-->

<% disabled = cannot? :write, Time %>
<%= content_for :head do %>
  <%= stylesheet_link_tag "webyast-time" %>
  <%= javascript_include_tag "webyast-time" %>

  <%= date_picker_localization %>

  <%= javascript_tag do -%>

    $(document).ready(function() {
      $('body').data('zones', <%= raw(@system_time.timezones.to_json) %>);
      var $timezone_options = $('select#systemtime_timezone');
      $("#systemtime_region").change(function(){
        var region_name = $(this).val();
        $.each($('body').data('zones'), function(index,timezone) {
          if(timezone.region == region_name) {
            $timezone_options.empty();
            $.each(timezone.zones, function(index,zone) {
              $timezone_options.append($("<option />").val(zone).text(zone));
            });
          }
        });
      });

		validateDomainName("ntp_server");
		validateTime("time");

		$("#timeForm").validate({
		  onkeyup: function(element) { this.element(element); },
		  rules:{
			 ntp_server: {
				required: "#ntp_sync:checked",
				ntp_server: true
			 },
			 time: {
				required:true,
				time: true
			 }
		  },
		  submitHandler: function(form) {
  			var message = <%= jss _("Please wait") -%>;
		    $.modalDialog.wait( {message: message});
        form.submit();
      },
		  success: "valid",
		  messages: {
			 ntp_server: {
				 required: <%= jss _("This field is required") -%>,
				 ntp_server: <%= jss _("Enter a valid domain name or an IP address") -%>
			 },
			 time: {
				required: <%= jss _("This field is required") -%>,
				time: <%= jss _("Invalid time format. Correct one is hh:mm:ss") -%>
			 }
		  }
		});

    <% if @system_time.hwclock %>
      // allows to switch between radio buttons and disable validation if #timeconfig_manual is checked
      $('#timeconfig_manual').click(function() {
        var settings = $('#timeForm').validate().settings;
        delete settings.rules.ntp_server;
        delete settings.messages.ntp_server;
        if ( <%= !disabled %> ) {
          $('#ntp_server').attr("disabled","disabled");
          $("#date_date")[0].disabled = false;
          $("#time")[0].disabled = false;
        }
        $('#time').focus();
      });

      // enable form validation for #ntp_server if #ntp_sync is checked
      $('#ntp_sync').click(function() {
        var settings = $('#timeForm').validate().settings;
        settings.rules.ntp_server = {required: true};
        settings.messages.ntp_server = "<%= _("This field is required") -%>";
        settings.messages.ntp_server = {ntp_server: "<%= _("Enter a valid domain name or an IP address") -%>"};
        if ( <%= !disabled %> ) {
          $('#ntp_server').removeAttr("disabled");
          $("#date_date")[0].disabled = true;
          $("#time")[0].disabled = true;
        }
        $('#ntp_server').focus();
      });
    <% else %>
      $('#ntp_sync').hide();
    <% end %>
  });

  <% end -%>
<% end %>

<div class="plugin-content plugin-border">
  <%= render :partial => 'shared/missing_write_permissions' if disabled %>

	 <%= form_tag '/time/update', {:id => "timeForm", :class=>"webyast_form"} do %>
    <div class="plugin-header">
      <div class="left">
        <label class="plugin-icon-container"><%= image_tag("time.png", :class=>"plugin-icon") %></label>
        <label class="plugin-name"><%=_("Time")%></label>
     	</div>

        <%= render :partial => 'shared/online_help', :locals => { :help_name => "time"} %>
     	<div class="clearfix"></div>
    </div>

    <div class="clearfix">&nbsp;</div>

    <fieldset class="webyast_fieldset">
      <div class="fieldset_header">
	      <span class="fieldset_header_title" ><%= _("Timezone")%></span>
	    </div>

	    <div class="fieldset_body">
	      <div class="row">
          <label for="region"><%=_("Region")%></label>
          <%= select_tag "systemtime[region]", options_for_select(@system_time.regions, @system_time.region), :disabled => disabled %>
  	    </div>

 	      <div class="row">
          <label for="timezone"><%=_("Timezone")%></label>
          <span id="timezones">
            <%= render(:partial => 'timezones', :locals => {:system_time => @system_time, :disabled => disabled})  %>
          </span>
        </div>

        <div class="row">
          <label><%=_("Hardware clock is set to UTC")%></label>
          <%# don't use check_box helper as it generate also hidden opposite value %>
          <input type="checkbox" name="systemtime[utcstatus]" id="utc" value="true" <%=  "checked='checked'" if @system_time.utcstatus %> <%=  "disabled='disabled'" if disabled %> />
        </div>
      </div>
      <div class="clearfix">&nbsp;</div>
    </fieldset>

    <% if @system_time.hwclock %>
      <fieldset class="webyast_fieldset">
        <div class="fieldset_header">
          <span class="fieldset_header_title" ><%= _("Time")%></span>
        </div>

        <div class="fieldset_body">
          <fieldset class="time_filedset" >
            <legend>
              <input type="radio" name="systemtime[config]" value="manual" id="timeconfig_manual" <%= "disabled='disabled'" if disabled%> />
              <%= label_tag "timeconfig_manual", _("Manually configure time"), :class => "description" %>
            </legend>

            <div class="time_subsection">
              <div class="row">
                <label for="date_date"><%= _("Date") %></label>
                <%= text_field "systemtime", "date", :id=>:date_date, :disabled=>true, :value => @system_time.date %>
              </div>

              <div class="row">
                <label for="time"><%= _("Time") %></label>
                <%= text_field "systemtime", "time", :id=>:time, :value=>@system_time.time, :disabled=>true %>
              </div>
            </div>
          </fieldset>

          <%- if can?(:setserver, Ntp) && @ntp_available %>
            <fieldset class="time_filedset" >
              <legend>
                <input id="ntp_sync" type="radio" name="systemtime[config]" value="ntp_sync"
                <%=  "disabled=\"disabled\"" if disabled || !@ntp_available %> />
                <%= label_tag "ntp_sync", _("Synchronize via Network Time Protocol (NTP)"), :class => "description" %>
              </legend>

              <div class="time_subsection">
                <div class="row">
                <label for="ntp_server"><%= _("NTP server") %></label>
                <%= text_field "systemtime", "ntp_server", :id => :ntp_server, :disabled=>true, :value => @ntp.actions[:ntp_server] %>
                 </div>
               </div>
            </fieldset>
          <% end %>
          <div class="clearfix"></div>
        </div>
      </fieldset>
    <% end %>

    <div class="clearfix"></div>

    <div class="button_container">
      <div class="hr">&nbsp;</div>
      <div class="nav-buttons">
        <%= form_send_buttons :id=>"timeSubmit", :disabled => disabled, :class => "button" %>
      </div>
    </div>
  <% end %>
</div>
