<h1>New user</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :fullName %><br />
    <%= f.text_field :fullName %>
  </p>
  <p>
    <%= f.label :groups %><br />
    <%= f.text_field :groups %>
  </p>
  <p>
    <%= f.label :defaultGroup %><br />
    <%= f.text_field :defaultGroup %>
  </p>
  <p>
    <%= f.label :homeDirectory %><br />
    <%= f.text_field :homeDirectory %>
  </p>
  <p>
    <%= f.label :noHome %> (true,false)<br />
    <%= f.text_field :noHome %>
  </p>
  <p>
    <%= f.label :loginShell %><br />
    <%= f.text_field :loginShell %>
  </p>
  <p>
    <%= f.label :loginName %><br />
    <%= f.text_field :loginName %>
  </p>
  <p>
    <%= f.label :uid %><br />
    <%= f.text_field :uid %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </p>
  <p>
    <%= f.label :ldapPassword %><br />
    <%= f.text_field :ldapPassword %>
  </p>
  <p>
    <%= f.label :type %> (local, system, nis, ldap)<br />
    <%= f.text_field :type %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', users_path %>
