<!--
# Copyright (c) 2009-2010 Novell, Inc.
# 
# All Rights Reserved.
# 
# This program is free software; you can redistribute it and/or modify it
# under the terms of version 2 of the GNU General Public License
# as published by the Free Software Foundation.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program; if not, contact Novell, Inc.
# 
# To contact Novell about this file by physical or electronic mail,
# you may find current contact information at www.novell.com
-->

<% content_for :head do %>
 <% if JSMIN == true %>  
    <%= javascript_include_tag "min/users-min.js"-%>
    <%= javascript_include_tag "select_dialog.js" %>
  <% else %>
    <%= stylesheet_link_tag "webyast-users" %>
    <%= stylesheet_link_tag "webyast-plugin-toolbar" %>
    <%= javascript_include_tag "select_dialog.js" %>
    <%= javascript_include_tag "jquery.quicksearch.js"-%>
    <%= javascript_include_tag "users.js" %>
  <% end %>
 
<!-- if no groups, disable validation-->
<% if @permissions[:groupsget] != true %>
<script language="javascript">
  function groups_validation(which){ return true; }
  function def_group_validation(which){ return true; }
</script>
<% end %>       

 <style type="text/css">

 </style>

 <% javascript_tag do %>
  var AUTH_TOKEN = 'authenticity_token=' + encodeURIComponent("<%= escape_javascript form_authenticity_token %>");
  startNotifier({'module':'users', 'AUTH_TOKEN':AUTH_TOKEN}, 1000, 11000);

 jQuery.expr[':'].Contains = function(a, i, m) {
  return jQuery(a).text().toUpperCase().indexOf(m[3].toUpperCase()) >= 0;
 };

  function select_groups_dialog() {
    var open_dialog = select_many_dialog({
      kind : 'groups',
      title : <%=  jss _('Select Groups') %>,
      selected_title : <%= jss _('Selected Groups') %>,
      unselected_title : <%= jss _('Available Groups') %>,
      tooltip : <%= jss _('Click group names to select/unselect groups') %>,
      loadItems : function (dialogId) { 
        return $('#form_'+dialogId+' .grp-string')[0].value.split(",")
      },
      storeItems : function (dialogId, items) { 
        $('#form_'+dialogId+' .grp-string')[0].value = items.join(",");
      },
      allItems : function (dialogId) { 
        return $('#all_grps_string')[0].value.split(",") 
      }
    });
    return open_dialog;
  };
  
  function select_default_group_dialog() {
    var open_dialog = select_one_dialog({
      kind : 'group',
      title : <%= jss _('Select Default Group') %>,
      tooltip : <%= jss _('Click a group name to choose users default group') %>,
      allItems : function (dialogId) {
        return $('#all_grps_string')[0].value.split(",")
      },
      storeItem : function (dialogId, item) {
        $('#form_'+dialogId+' .groupname')[0].value = item;
      }
    });
    return open_dialog;
  };

  function select_roles_dialog() {
    var open_dialog = select_many_dialog({
      kind : 'roles',
      title : <%= jss _('Select Roles') %>,
      selected_title : <%= jss _('Selected Roles') %>,
      unselected_title : <%= jss _('Available Roles') %>,
      tooltip : <%= jss _('Click group names to select/unselect roles') %>,
      loadItems : function (dialogId) { 
        return $('#form_'+dialogId+' .roles-string')[0].value.split(",")
      },
      storeItems : function (dialogId, items) { 
        $('#form_'+dialogId+' .roles-string')[0].value = items.join(",");
      },
      allItems : function (dialogId) { 
        return $('#all_roles_string')[0].value.split(",") 
      }
    });
    return open_dialog;
  };

  $(document).ready(function(){
    var message = <%= jss _("Please wait") -%>;
    
    select_groups_open = select_groups_dialog();
    select_default_group_open = select_default_group_dialog();
    select_roles_open = select_roles_dialog();

// make the error message translatable - override the default messsage
   $.extend($.validator.messages, {
     equalTo:  <%= jss _(" The passwords do not match.") -%>,
     required: <%= jss _("This field is required.") -%>
   });

 for(var i=0;i<$('.edit_user').length;i++){
  var id=$('.edit_user')[i].id;
<!-- TODO: double validation? ask mzugec before remove it (fix for bnc#600765)-->
<!--    $("#"+id).validate() -->

   $("#"+id).validate({
    rules: {
      user_password: "required",
      user_password2: {
        equalTo: "#user_password"
      }
    },
    submitHandler: function(form) {
      var message = <%= jss _("Please wait") -%>;
      $.modalDialog.wait( {message: message});
      form.submit();
    }
   });

   $("#"+id+" .user-password").pstrength({
      'displayMinChar'      : true,
      'minCharText'      : <%= jss _("Password Strength:") %>, 
      'verdicts'      : [
            <%= jss _("Weak") %>,
            <%= jss _("Normal") %>,
            <%= jss _("Medium") %>,
            <%= jss _("Strong") %>,
            <%= jss _("Very Strong") %>
          ]
      });
 }

      $(".accordion").accordion({
         autoHeight : false,
         navigation : true,
         collapsible: true,
         header     : 'div.list-fieldset div.list-fieldset-header',
         animated   : false
      });

      $(".accordion").accordion('activate', false);

  $('input#users_search').quicksearch('div.list-fieldset', {
          selector: 'span.quicksearch_content',
          delay: 100
  });

  

});//document.ready

<% end %>

<% end %>
<!-- <div class='plugin-icon'><img alt="yast-users" src='/icons/yast-users.png'/>
  <%_("Users")%><span id="questionMark">?</span>
  </div>
<div class="plugin-content"> -->

<div id="users_index" class="plugin-content plugin-border">

  <div class="plugin-header">
    <div class="left">
      <label class="plugin-icon-container"><img class="plugin-icon" src="/icons/users.png"></label>
      <label class="plugin-name"><%= _("Users")%></label>
      <span id="questionMark" class="right" style="margin:0px 5px;">?</span>
    </div>
  </div>

  <div class="clearfix">&nbsp;</div>

  <div id="webyast-toolbar-container">
    <%=link_to image_tag("home.png", :class=>"home-icon"), :controller=>"controlpanel", :action => :index %>

    <form action="#" id="quicksearch">
      <label><%= _("Filter:") %></label>
      <input type="text" id="users_search"/>
    </form>

    <span id="action_link_container">
      <% if @permissions[:useradd] %>
        <%=link_to image_tag("/icons/users.png", :class=>"action_link_icon") +  _("New User"), :action => :new %>
      <% end %>
        <%=link_to image_tag("/icons/groups.png", :class=>"action_link_icon") +  _("Manage Groups"), :controller => "groups" %>
    </span>
  </div>

  <div style="clear:both; overflow:hidden;"></div>

  <div id="users" class="accordion">
    <% disabled = ! @permissions[:usermodify] %>
    <% for user in @users %>
      <div class="list-fieldset">
        <div class="list-fieldset-header">
          <span class="quicksearch_content">
            <%= h user.uid -%> (<%= h user.cn || "-none-" -%>)
          </span>
        </div>

        <div class='user-content' style="display:none">
          <% form_for(user, :url => { :action => "update" }, :html => { :method => :put, :id => "form_"+user.uid, :onsubmit => "form_handler('#{user.uid}')", :autocomplete => :off } ) do |f| %>
            <%= render :partial => "user_form", :locals =>{ :f => f, :disabled => disabled, :user => user, :new => false } %>
            <script language="javascript">
               addTabsNavigation(".tabs_<%= user.uid %>", "span");
               $(".tabs_<%= user.uid %>").tabs();
            </script>
          <% end %>
        </div>
     </div>
    <% end %>
  </div>

  <div><input type="hidden" id="all_grps_string" value="<%= @all_grps_string %>" /></div>
  <div><input type="hidden" id="all_roles_string" value="<%= @all_roles_string %>" /></div>
  
 
  
  <div class="button_container">
    <div class="nav-buttons">
        <div class="hr">&nbsp;</div>
      <p><%= link_to _("Manage Groups"), "controller" => "groups" %></p>
      <%= form_back_button -%>
    </div>
  </div>

</div>

