<%#
#--
# Copyright (c) 2009-2010 Novell, Inc.
#
# All Rights Reserved.
#
# This program is free software; you can redistribute it and/or modify it
# under the terms of version 2 of the GNU General Public License
# as published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, contact Novell, Inc.
#
# To contact Novell about this file by physical or electronic mail,
# you may find current contact information at www.novell.com
#++
%>

<% content_for :head do %>
  <%= javascript_tag do -%>
    function check_all() {
        $("input[type='checkbox']:visible").attr('checked', $('#All').is(':checked'));
    };
  <% end %>
<% end %>

<% if @patch_updates.any? {|pu| pu.name =~ /webyast-|nginx/} %>
<p class="flash-message ui-state-highlight"><%=
_("One of the patches seems to update WebYaST itself.
You may need to reload the page after applying the patch.") -%></p>
<%# FIXME: which patch is it? Add [Details] button... %>
<% end %>

<%# no patch or all patches are installed %>
<% if @patch_updates.empty? || @patch_updates.all?{|p| p.installed} %>
  <h3><%= _("No patches available") -%></h3>
<% else %>
<table summary="" class="patches available_patches" <%= @patch_updates.empty? ? "style=\"visibility: hidden;\"" : "" %> >
  <tr class="fieldset_header">
    <th class="first checkbox" width=3% ><span><input type="checkbox" name="All" onclick="check_all()" id="All"/></span></th>
    <th class="kind" width=5%><%=_("Kind")%></th>
    <th width=50%><%=_("Name")%></th>
    <th class="last" width=42%><%=_("Source")%></th>
  </tr>

  <% @patch_updates.each do |patch_update| %>
    <% unless patch_update.installed %>
    <tr class="patch_kind_<%= patch_update.kind -%>">
      <td class="checkbox"><input type="checkbox" id=<%= "patch_#{patch_update.resolvable_id}" %> name=<%="patch_#{patch_update.resolvable_id}" %> value=<%=patch_update.resolvable_id%> /></td>

      <% if patch_kinds.has_key?(patch_update.kind) %>
        <td class="icon kind" ><%= image_tag(patch_kinds[patch_update.kind]) %> </td>
      <% else %>
        <td><%=h patch_update.kind.humanize %></td>
      <% end %>

      <td class="label"><div style="font-size:13px;"><strong><%=h patch_update.name %></strong></div><div style="color:#777777; font-size:11px;"><%=h patch_update.summary %></div></td>
      <td class="icon"><%=h patch_update.repo %></td>
    </tr>
    <% end %>
  <% end %>
</table>
<% end %>

