<%#
#--
# Copyright (c) 2009-2010 Novell, Inc.
#
# All Rights Reserved.
#
# This program is free software; you can redistribute it and/or modify it
# under the terms of version 2 of the GNU General Public License
# as published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, contact Novell, Inc.
#
# To contact Novell about this file by physical or electronic mail,
# you may find current contact information at www.novell.com
#++
%>

<%= report_error(error, error_string) if error_type == :unknown %>

<% unless patch %>
  <% if error_type != :install %>
    <%= javascript_tag do %>
      $('#status-eye').addClass('eye_warning');
    <% end %>
  <% end %>

  <div class="statusbar_row">
        <%= image_tag("warning.png") %>
	  <% case error_type when :unknown %>
            <%= _("No information about patches available") %>
	  <% when :unsigned %>
            <%= error_string %>
	  <% when :install %>
            <%= error_string %>
          <% when :license %>
            <% link_to :controller => "patches", :action => "license" do %>
              <%= _("Update needs EULA license confirmation. Please follow to patch module to decide about license.") %>
            <% end %>
	  <% end %>
  </div>
<% else %>
  <% label = [] %>
  <% update = false %>

  <% if patch[:security] + patch[:important] > 0 %>
    <% javascript_tag do -%>
      $('#status-eye').addClass('eye_warning');
    <% end -%>
  <% else %>
    <% javascript_tag do -%>
      if($('#status-eye').hasClass("eye_warning") == false) { 
        $('#status-eye').addClass('eye_healthy'); 
      }
    <% end -%>
  <% end %>

    <% if patch[:security] > 0 %>
      <% update = true %>
      <div class="statusbar_row">
        <%= image_tag("kupdateapplet_red.png", :style=>"display:inline;") %>
        <%= link_to "patches", :class=>"warning_message" do %>
          <%= _("Security Updates: %d") % patch[:security] %>
        <% end %>
      </div>
    <% end %>

    <% if patch[:important] > 0 %>
      <% update = true %>
      <div class="statusbar_row">
        <%= image_tag("kupdateapplet_yellow.png") %>
        <%= link_to "patches", :class=>"warning_message" do %>
          <%= _("Important Updates: %d") % patch[:important] %>
        <% end %>
      </div>
    <% end %>

    <% if patch[:optional] > 0 %>
      <% update = true %>
      <div class="statusbar_row">
        <%= image_tag("kupdateapplet_optional.png") %>
        <%= link_to "patches", :class=>"warning_message" do %>
          <%= _("Optional Updates: %d") % patch[:optional] %>
        <% end %>
      </div>
    <% end %>

    <% if update == false %>
      <div class="statusbar_row">
        <%= image_tag("checkmark.gif", :class=>"checked_health") %>
        <%= _("Your system is up to date.") %> <!-- RORSCAN_ITL -->
      </div>
    <% end %>

    <% if patch[:security] > 0 or patch[:important] > 0 or patch[:optional] > 0 %>
      
      <div class="update_all">
        <%= link_to _("Install all"), {:controller=>"patches", :action => 'start_install_all',}, :remote=> true, :id => "install_all_link" %>
          <%= javascript_tag do -%>
            $('#install_all_link').bind('ajax:beforeSend', function (xhr, settings) {
              $(this)
                .unbind('click')
                .attr('href', '')
                .parent()
                .prepend(<%= jss image_tag("working.gif", :class => "small-working-icon") -%>)
                .parent()
                .find(".statusbar_row").fadeOut('slow');
            });
            $('#install_all_link').bind('ajax:success', function (xhr, data, status) {
              $('#statusbar_patches').html(data);
            });
          <% end %>
      </div>

    <% end %>

<% end %> <!-- else -->

<% if refresh_timeout.to_i > 0 -%>
  <!-- refresh the status again after a timeout -->
  <%= javascript_tag do -%>
    setTimeout(function() {
      $('#statusbar_patches').html('<div class="statusbar_row"><%= image_tag("working.gif", :class => "small-working-icon") %><%= _("Loading patch information") %></div>')
      $.ajax({
          url: "<%= url_for({ :controller => :patches, :action => :show_summary, :background => true }) -%>",
          type: "GET",
          success: function(data, status, xhr) {
            $('#statusbar_patches').html(data);
          },
          error: function(xhr, status, error) {
            $('#statusbar_patches').html('<b><%= escape_javascript _("Error: Cannot get information.") -%></b>');
          }
      });
    }, <%= refresh_timeout.to_i * 1000 -%>);
  <% end -%>
<% end -%>
