<%#
#--
# Copyright (c) 2009-2010 Novell, Inc.
# 
# All Rights Reserved.
# 
# This program is free software; you can redistribute it and/or modify it
# under the terms of version 2 of the GNU General Public License
# as published by the Free Software Foundation.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program; if not, contact Novell, Inc.
# 
# To contact Novell about this file by physical or electronic mail,
# you may find current contact information at www.novell.com
#++
%>
<%= javascript_tag do -%>
  <% if go_on %>
    $(document).ready(function() {
       setInterval(function(){
         $.ajax({
           url: "<%= url_for({ :controller => :patches, :action => :install_all } ) -%>",
           type: "GET",
           success: function(data, status, xhr) {
             $('#status_patches').html(data);
           },
           error: function(xhr, status, error) {
             $('#status_patches').html('<b><%= escape_javascript _("Error: Cannot get information.") -%></b>');
           }
         });
         }, 20000
       );
    });
  <% end -%>
<% end -%>

<%= report_error(error, _("An error occured while installing patches.")) if error %>

<div class="status_patches">
    <% link_to "patches" do %>
      <% if error %>
        <div class="status-icon error"></div>
      <% else %>
        <div class="status-icon ok"></div>
      <% end %>
      <span><%= patch %></span>
    <% end %>
    <% unless message.empty? %>
      <div id="patch_message" >
        <div>
          <%= message %>
        </div>
      </div>

      <script type="text/javascript">
        $(document).ready(
           function() {
             // define a dialog
             $('#patch_message').dialog(
               {
                  bgiframe: true,
                  autoOpen: false,
                  height: 'auto',
                  title: "<%= _("Patch Installation")%>",
                  modal: false
                });
             // open detail popup
             $('#patch_message').dialog('open');
           });
      </script>
    <% end %>

    <% if !defined?(go_on) or go_on %>
      <%= button_to _("Stop"), :update =>"status_patches", :remote => true, :url=>{ :controller => :patches, :action => :stop_install_all}, :confirm => _("Are you sure?") %>
    <% end %>
</div>
