<!--
# Copyright (c) 2009-2010 Novell, Inc.
#
# All Rights Reserved.
#
# This program is free software; you can redistribute it and/or modify it
# under the terms of version 2 of the GNU General Public License
# as published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, contact Novell, Inc.
#
# To contact Novell about this file by physical or electronic mail,
# you may find current contact information at www.novell.com
-->
<% content_for :head do %>
  <%= stylesheet_link_tag "webyast-software" %>
<% end %>

<%= render :partial => "shared/notification", :locals => { :module_name => 'patches' } %>

<% content_for :head do %>
<script type="text/javascript">
  $(document).ready(function() {
    $(":button").click(function() {
      $("button[type=submit].active").removeClass('active')
      $(this).removeClass("left").addClass("active left");
      return false;
    });
    
    $("form#form1").submit(function () { return false; }); // so it won't submit

    var message = "<%= _("Please wait") -%>";
    $("#update_submit_button").click(function() {
      $.modalDialog.wait( {message: message});
    });

    $('#all').click(function(){
      $('table.available_patches tr td').show();
    });
     
    $('#security').click(function(){
      $('table.available_patches tr td').hide();
      $('table.available_patches tr.patch_kind_security td').show();
    });
     
    $('#important').click(function(){
      $('table.available_patches tr td').hide();
      $('table.available_patches tr.patch_kind_important td').show();
    });
     
    $('#recommended').click(function(){
      $('table.available_patches tr td').hide();
      $('table.available_patches tr.patch_kind_recommended td').show();
    });
     
    $('#optional').click(function(){
      $('table.available_patches tr td').hide();
      $('table.available_patches tr.patch_kind_enhancement td').show();
    });

    $('table.available_patches td').click(function(){
      var checkbox = $(this).parent().find("input[type='checkbox']");
      checkbox.attr('checked', !checkbox.is(":checked"));
    });

    // do not propage the click event when clicked directly on a checkbox
    // (avoid calling the click handler for <td> few lines above which
    // would reset the user change)
    $('table.available_patches td input[type="checkbox"]').click(function(event){
      event.stopPropagation();
    });

  });
  
  function disableForm(){
    $(document).ready(function() {
      var message = <%= jss _("Please wait") -%>;
      $.modalDialog.wait( {message: message});
    });
  }

  <% if @reload %>
  // reload the page after 15 seconds
    setTimeout(function() {
      //$('#progress').show();
      var message = <%= jss _("Please wait") -%>;
      $.modalDialog.wait( {message: message});
      window.location.reload();
    } , 15000);
  <% end %> 

</script>
<% end %>

<% if @patch_updates %>

  <div class="plugin-content plugin-border">
     <% if @patch_updates.empty? %>
     <div class="webyast_form">
      <div class="plugin-header">
        <div class="left">
          <label class="plugin-icon-container"><%= image_tag("updates.png", :class=>"plugin-icon") %></label>
          <label class="plugin-name"><%=_("Updates") %></label>
       	</div>

        <%= render :partial => 'shared/online_help', :locals => { :help_name => "updates"} %>
       	<div class="clearfix"></div>
      </div>

      <div class="clearfix">&nbsp;</div>

      <h3 class="module_header" id="system_uptodate">
        <% unless @error %>
        <%= image_tag("checkmark.gif") %>
        <%=_("Your system is up to date.")%>
        <% else %>
         <%= @flash_message unless @flash_message.nil? %>
        <% end %>
      </h3> <!-- RORSCAN_ITL -->


      <div class="clearfix"></div>

      <div class="button_container">
   	    <div class="hr">&nbsp;</div>

	      <div class="nav-buttons">
          <%= form_for :patches, :url => { :action => "install" }, :html => {:id => "patches-form"} do |form| %>
           <% if Basesystem.new.load_from_session(session).completed? %>
             <%= form_back_button %>
           <% else %>
             <%= form_send_buttons %>
           <% end %>
          <% end %>
	      </div>
      </div>
    </div>

    <% else %>
      <% @hash = Hash.new(0)
         counter=0
      	@patch_updates.each do |p|
      	  # don't count installed patches
	        unless p.installed
                  search_map = { "normal" => "green", "low" => "green", "security" => "security",
                                 "important" => "important", "enhancement" => "optional" }
                  key = search_map[p.kind] || p.kind
	          if @hash.has_key?(key)
	            @hash[key] += 1
	          else
	            @hash[key] = 1
	          end
                  counter += 1
	        end
      end %>

      <div class="plugin-header webyast_form">
        <div class="left">
          <label class="plugin-icon-container"><%= image_tag("updates.png", :class=>"plugin-icon") %></label>
          <label class="plugin-name"><%=_("Updates") %></label>
       	</div>

        <%= render :partial => 'shared/online_help', :locals => { :help_name => "updates"} %>
       	<div class="clearfix"></div>
      </div>

      <div class="clearfix">&nbsp;</div>

      <%= render :partial => "installed_patches" %>

      <%= render :partial => "failed_patches" %>

      <h3><%= _("Available Updates") %></h3>
      <div id="updates_panel">
        <button type="submit" id="all" class="left active">
            <span style="display:inline-block; vertical-align: inherit; height:18px; width:1px;"></span>
            <%=_("All updates") %>&nbsp;<span>(<%=counter%>)</span> 
        </button>
        <button type="submit" id="security" class="middle">
            <%= image_tag("kupdateapplet_red.png") %><%=_("Security") %>&nbsp;<span>(<%=@hash["security"]%>)</span></button>
        <button type="submit" id="important" class="middle">
            <%= image_tag("kupdateapplet_yellow.png") %><%=_("Important") %>&nbsp;<span>(<%=@hash["important"]%>)</span>
        </button>
        <button type="submit" id="recommended" class="middle">
            <%= image_tag("kupdateapplet_green.png") %><%=_("Recommended") %>&nbsp;<span>(<%=@hash["green"]%>)</span>
        </button>
        <button type="submit" id="optional" class="right">
          <%= image_tag("kupdateapplet_optional.png") %><%=_("Optional") %>&nbsp;<span>(<%=@hash["optional"] + @hash["low"] %>)</span>
        </button>
      </div>
      <div class="clearfix"></div>

    <div class="clearfix"></div>

    <%= form_for :patches, :url => { :action => "install" }, :html => {:id => "patches-form", :class=>"webyast_form" } do |form| %>
      <fieldset  class="webyast_fieldset" style="margin:0px auto;">
      	<div id="patchesd"><%= render :partial => "patches"%></div>
      </fieldset>

    <div class="clearfix" style="height:10px;">&nbsp;</div>

      <div class="button_container">
   	    <div class="hr">&nbsp;</div>
        <div class="nav-buttons">
         	<%= form_send_buttons :label => _("Update"), :id=>"update_submit_button", :action => 'install' %>
        </div>
      </div>

    <% end %>
  <% end %>
</div>
<% end %>

