<%#
#-- RORSCAN_ICF
# Webyast Webclient framework
#
# Copyright (C) 2009, 2010 Novell, Inc.
#   This library is free software; you can redistribute it and/or modify
# it only under the terms of version 2.1 of the GNU Lesser General Public
# License as published by the Free Software Foundation.
#
#   This library is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public License for more
# details.
#
#   You should have received a copy of the GNU Lesser General Public
# License along with this library; if not, write to the Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA
#++
%>

<% content_for :head do %>
  <%= javascript_include_tag "webyast-network" %>
  <%= stylesheet_link_tag "webyast-network" %>
<% end %>

<%= render :partial => "shared/notification", :locals => { :module_name => 'network' } %>

<div id="network_module" class="plugin-content plugin-border">

  <% write_disabled = cannot? :write, Network %>
  <%= render :partial => 'shared/missing_write_permissions' if write_disabled %>

  <div class="plugin-header">
    <div class="fleft">
      <label class="plugin-icon-container"><%= image_tag("network.png", :class=>"plugin-icon") %></label>
      <label class="plugin-name"><%=_("Network")%></label>
    </div>

    <div class="fright" >
      <span id="questionMark" style="margin:2px 15px; float:none;">?</span>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="clearfix">&nbsp;</div>

  <div id="pages">
    <div id="page-container">
      <div class="page">

        <fieldset class="webyast_fieldset">
          <div class="fieldset_header">
             <span class="fieldset_header_title" >
              <%= _("Physical Interfaces")%>
            </span>
          </div>

          <div class="fieldset_body">
            <% @physical.each do |id, interface| %>
              <div class="interface">
                <div class="iface_image">
                  <% img = (interface.ipaddr.blank?)? "eth64.png" : "eth64-active.png" %>
                  <%= image_tag("#{img}") %>
                </div>
                <div class="iface_details">
                  <p><b><%= interface.vendor if interface.vendor  %></b></p>
                  <p><%= _("Interface") %>: <b><%= interface.id %></b></p>
                  <p><%= _("IP address") %>: <%= interface.ip %></p>
                  <p><%= _("Mode") %>: <%= interface.bootproto %></p>
                </div>
                <div class="link_container">
                  <%= link_to _("configure"), :controller => "network", :action => "edit", :id => id %>
                </div>
              </div>

            <% end %>
          </div>
        </fieldset>

        <fieldset class="webyast_fieldset">
          <div class="fieldset_header">
            <span class="fieldset_header_title" ><%= _("Virtual Interfaces")%></span>
          </div>

          <div class="fieldset_body">
            <% @virtual.each do |id, interface| %>
              <div class="interface">
                <div class="iface_image">
                  <% img = (interface.ipaddr.blank?)? "eth64.png" : "eth64-active.png" %>
                  <%= image_tag("#{img}") %>
                </div>
                <div class="iface_details">
                  <p><%= _("Interface") %>: <b><%= interface.id %></b></p>
                  <p>Mode: <%= interface.bootproto %></p>

                  <% if interface.id.match("vlan") %>
                    <p><%= _("Vlan ID") %>: <%= interface.vlan_id %></p>
                    <p><%= _("Physical interface") %>: <%= interface.vlan_etherdevice %></p>
                  <% end %>

                  <% if interface.id.match("br") %>
                    <p><%= _("Bridge ports") %>: <%= interface.bridge_ports %></p>
                  <% end %>
                  
                  <% if interface.id.match("bond") %>
                    <p><%= _("Bond option") %>: <%= interface.bond_option %></p>
                    <p><%= _("Bond slaves") %>: <%= interface.bond_slaves.join(" ") %></p>
                  <% end %>

                </div>
                <div class="iface_links">
                  <p>
                    <%= link_to _("configure"), :controller => "network", :action => "edit", :id => id %>
                  </p>
                  <p>
                    <%= link_to _("delete"), :action => "destroy", :id => id%>                
                  </p>
                </div>
              </div>
            <% end %>
          </div>
        </fieldset>

        <div class="navigation_link_container">
          <div class="hr">&nbsp;</div>
          <p><%= link_to _("New virtual interface"), {}, :id=>"iface_selection_link", :class=>"page_link" %></p>
        </div>

      </div>

      <div class="page">
        <h4 style="font-size:16px; padding:0 20px; margin:0;"><%= _("Please select one of the virtual interfaces")%></h4>

        <%= form_for :network, :url => { :action => "new" }, :html => {:id=>"interface_type_form", :class=>"webyast_form"} do %>
          <%= hidden_field_tag "type", "vlan" %>
          <fieldset class="webyast_fieldset iselector" data-type="vlan">
            <div class="fieldset_header">
              <span class="fieldset_header_title" >VLAN</span>
            </div>

            <div class="fieldset_body">
              <div class="iface_image">
                <%= image_tag("eth64.png") %>
              </div>
              <div class="iface_details">
                <div>
                  A <b>virtual local area network</b>, virtual LAN or VLAN, is a group of hosts with a common set of requirements that communicate as if they were attached to the same broadcast domain,
                  regardless of their physical location. A VLAN has the same attributes as a physical local area network (LAN), but it allows for end stations to be grouped together even
                  if they are not located on the same network switch. VLAN membership can be configured through software instead of physically relocating devices or connections.
                </div>
              </div>
              <div class="clearfix">&nbsp;</div>
            </fieldset>

        <fieldset class="webyast_fieldset iselector" data-type="br">
          <div class="fieldset_header">
            <span class="fieldset_header_title" ><%= _("BRIDGE")%></span>
          </div>

          <div class="fieldset_body">
              <div class="iface_image">
                  <%= image_tag("eth64.png") %>
              </div>
              <div class="iface_details">
                  <div>
                      <b>Bridging</b> is a forwarding technique used in packet-switched computer networks. Unlike routing, bridging makes no assumptions about where in a network a particular address is located.
                      Instead, it depends on flooding and examination of source addresses in received packet headers to locate unknown devices. Once a device has been located, its location
                      is recorded in a table where the source address is stored so as to avoid the need for further flooding.
                  </div>
              </div>
              <div class="clearfix">&nbsp;</div>
          </div>
        </fieldset>

        <fieldset class="webyast_fieldset iselector" data-type="bond">
          <div class="fieldset_header">
            <span class="fieldset_header_title" ><%= _("BOND")%></span>
          </div>

          <div class="fieldset_body">
              <div class="iface_image">
                  <%= image_tag("eth64.png") %>
              </div>
              <div class="iface_details">
                  <div>
                      A <b>bond/trunk</b> is a single transmission channel between two points, each point being either the switching center or the node.
                      In modern communications, trunking is a concept by which a communications system can provide network access to many clients by sharing a set of lines or frequencies instead of providing them individually.
                  </div>
              </div>
              <div class="clearfix">&nbsp;</div>
          </div>
        </fieldset>


        <div class="navigation_link_container">
          <div class="hr">&nbsp;</div>
          <%= link_to _("back"), {}, :id=>"iface_back_link", :class=>"page_link lright" %>
          <%= submit_tag _("next"), :class=> "submit_link fright" %>
          <div class="clearfix">&nbsp;</div>
        </div>

        <% end %>
      </div>


    </div>
  </div>

</div>
