<% content_for :head do %>
  <%= javascript_include_tag "webyast-network" %>
  <%= stylesheet_link_tag "webyast-network" %>
<% end %>

  <div class="plugin-content plugin-border">
    <% write_disabled = cannot? :write, Network %>
    <%= render :partial => 'shared/missing_write_permissions' if write_disabled %>

      <div class="plugin-header">
        <div class="left">
          <label class="plugin-icon-container"><%= image_tag("network.png", :class=>"plugin-icon") %></label>
          <label class="plugin-name"><%=_("Network")%></label><span id="questionMark" style="margin:2px 15px; float:none;">?</span>
          <%=text_field_tag :conf_mode, @conf_mode, :type=>"hidden", :disabled => write_disabled %>
        </div>

        <div class="right" >
          Nothing
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="clearfix">&nbsp;</div>

    <fieldset id="dns-container" class="webyast_fieldset">
      <div id="dns-container-header" class="fieldset_header">
         <span class="fieldset_header_title" >
          <%= _("Physical Interfaces")%>
        </span>
        <!-- MOVE INLINE CSS TO NETWORK.CSS-->
        <span style="float:none; color:#777777; font-size:11px; margin-left:2px;">(help)</span>
      </div>

      <div class="fieldset_body">
        <% @physical.each do |id, interface| %>
          <div class="interface">
            <div class="img_container">
              <% img = (interface.ipaddr.blank?)? "eth.png" : "eth-active.png" %>
              <%= image_tag("#{img}") %>
            </div>
            <div class="iface_details">
              <p>Interface: <b><%= interface.id %></b></p>
              <p>IP address: <%= interface.ipaddr %></p>
              <p>Mode: <%= interface.bootproto %></p>
            </div>
            <div class="link_container">
              <%= link_to _("configure"), :controller => "network", :action => "show", :id => id %>
            </div>
          </div>

        <% end %>
      </div>
    </fieldset>


    <fieldset class="webyast_fieldset">
      <div class="fieldset_header">
        <span class="fieldset_header_title" >
          <%= _("Virtual Interfaces")%>
        </span>
      </div>

      <div class="fieldset_body">
        <% @virtual.each do |id, interface| %>
          <div class="interface">
            <div class="img_container">
              <%= image_tag("eth.png") %>
            </div>
            <div class="iface_details">
              <p>Interface: <b><%= interface.id %></b></p>
              <p>IP address: <%= interface.ipaddr %></p>
            </div>
            <div class="link_container">
              <%= link_to _("configure"), :controller => "network", :action => "show", :id => id %>
            </div>
          </div>
        <% end %>
        <p><%= link_to _("Add new virtual interface ..."), :controller => "network", :action => "new" %></p>
      </div>
    </fieldset>
