<!--
# Copyright (c) 2009-2010 Novell, Inc.
#
# All Rights Reserved.
#
# This program is free software; you can redistribute it and/or modify it
# under the terms of version 2 of the GNU General Public License
# as published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, contact Novell, Inc.
#
# To contact Novell about this file by physical or electronic mail,
# you may find current contact information at www.novell.com
-->

<% content_for :head do %>
  <%= stylesheet_link_tag "webyast-network" %>
  <%= javascript_include_tag "webyast-network" %>
<% end %>

<% @write_disabled = cannot? :write, Network %>
<% @disabled = @ifc.bootproto != "static" %>

<div class="plugin-content plugin-border">
  <%= render :partial => 'shared/missing_write_permissions' if @write_disabled %>

  <div class="plugin-header">
    <div class="fleft">
      <label class="plugin-icon-container"><%= image_tag("network.png", :class=>"plugin-icon") %></label>
      <label class="plugin-name"><%=_("Network")%></label>
    </div>

    <div class="fright" >
      <span id="questionMark" style="margin:2px 15px; float:none;">?</span>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="clearfix">&nbsp;</div>

  <%= render :partial => "form", :locals => {:action => "create"} %>
</div>


<%= render :partial => "shared/notification", :locals => { :module_name => 'dns,hostname,interfaces,routes' } %>
<%= render :partial => "validation" %>
