
- content_for :head do
  $(document).ready(function() {
    $("#online_help_button_#{j name}").click(function() {
      $("#page_overlay").show();
      var dlg = $(this).next()
      dlg.show();

      // TODO: error handling
      $.get("/onlinehelp/#{j name}.html", function(data){
        dlg.child().html(data);
      });

      // TODO: reregister click() to just display the loaded data without reloading
    });

    $("#online_help_dialog_#{j name} .online_help_close").click(function{
      $(this).parent().hide();
      $("#page_overlay").hide();
    });
  });


.online_help_button{:style=>"margin:2px 5px;", :id => "#online_help_button_#{name}"}?

.online_help_dialog{:id => "#online_help_dialog_#{name}"}
  .online_help_content
    = image_tag "loading.gif"
    = _("Please wait ...")
  .online_help_close
