
- content_for :head do
  :javascript
    $(document).ready(function() {
      $("#online_help_dialog_#{j help_name}").appendTo("body");

      $("#online_help_button_#{j help_name}").click(function() {
        $("#page_overlay").show();
        var dlg = $("#online_help_dialog_#{j help_name}");
        dlg.show();

        // TODO: error handling
        $.get("/online_help/#{j help_name}.html", function(data){
          dlg.children().first().html(data);
        });

        // TODO: reregister click() to just display the loaded data without reloading
      });

      $("#online_help_dialog_#{j help_name} .online_help_close").click(function() {
        $("#online_help_dialog_#{j help_name}").hide();
        $("#page_overlay").hide();
      });
    });

.online_help_button{:id => "online_help_button_#{help_name}"} ?

.online_help_dialog{:id => "online_help_dialog_#{help_name}"}
  .online_help_content
    .waiting_label Please wait ...
  .online_help_close
