<%#
#--
# Webyast Webclient framework
#
# Copyright (C) 2009, 2010 Novell, Inc. 
#   This library is free software; you can redistribute it and/or modify
# it only under the terms of version 2.1 of the GNU Lesser General Public
# License as published by the Free Software Foundation. 
#
#   This library is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public License for more 
# details. 
#
#   You should have received a copy of the GNU Lesser General Public
# License along with this library; if not, write to the Free Software 
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA
#++
%>

<h1><%= _("This is embarrassing....") %></h1>

<p><%= _("We are sorry, but there are some problems.") %></p>

<h3><%= _("Problem:") %></h3>

<p><pre>
  <%= error.message %>
</pre></p>

<p><span class="bug-icon"></span><%= _("Please Report a bug so we can fix the problem!.") %>
  <a target="_blank" href="<%= controller.class.bug_url %>"><%= _("Report a bug in bugzilla.") %></a>
</p>
<p><%= _("Don't forget to include the bug details.") %>
  <br/>
  <% log_file = Webyast::Application.config.paths['log'].first %>
  <%= _("The main WebYaST log is located at #{log_file} file, there are also other log files in #{File.dirname log_file} directory.") %></p>

<p>
  <a href="#" id="details-link"><%= _("Show details...") %></a>
<p>

<pre id="backtrace" style="display: none">
<%= error.nil? || error.backtrace.blank? ? _("No information available") : error.backtrace.join("\n") %>
</pre>

<script type="text/javascript">
  $('#details-link').toggle(function() {$('#backtrace').show();return false;}, function() {$('#backtrace').hide();return false;});
</script>
