<h1>Editing data_cache</h1>

<% form_for(@data_cache) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </p>
  <p>
    <%= f.label :session_id %><br />
    <%= f.text_field :session_id %>
  </p>
  <p>
    <%= f.label :picked_md5 %><br />
    <%= f.text_field :picked_md5 %>
  </p>
  <p>
    <%= f.label :refreshed_md5 %><br />
    <%= f.text_field :refreshed_md5 %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @data_cache %> |
<%= link_to 'Back', data_caches_path %>