<h1>Listing data_caches</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Session</th>
    <th>Picked md5</th>
    <th>Refreshed md5</th>
  </tr>

<% @data_caches.each do |data_cache| %>
  <tr>
    <td><%=h data_cache.id %></td>
    <td><%=h data_cache.session_id %></td>
    <td><%=h data_cache.picked_md5 %></td>
    <td><%=h data_cache.refreshed_md5 %></td>
    <td><%= link_to 'Show', data_cache %></td>
    <td><%= link_to 'Edit', edit_data_cache_path(data_cache) %></td>
    <td><%= link_to 'Destroy', data_cache, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New data_cache', new_data_cache_path %>