<%#
#--
# Copyright (c) 2009-2010 Novell, Inc.
# 
# All Rights Reserved.
# 
# This program is free software; you can redistribute it and/or modify it
# under the terms of version 2 of the GNU General Public License
# as published by the Free Software Foundation.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program; if not, contact Novell, Inc.
# 
# To contact Novell about this file by physical or electronic mail,
# you may find current contact information at www.novell.com
#++
%>
<%= report_error(error, _("A problem occured when loading status information.")) if error %>

<% if data %>
<script type="text/javascript">

  $.jqplot('<%=graph_id(data[:group_id], data[:graph_id])+"_graph"%>',  [
  <% counter = 0 %>
  <% data[:lines].each do |line| %>
    <%= line[:values].inspect %>
    <% counter += 1 %>
    <%= "," if counter < data[:lines].size || data[:limits].size > 0%>
  <% end %>
  <% counter = 0 %>
  <% data[:limits].each do |line| %>
    <%= line[:values].inspect %>
    <% counter += 1 %>
    <%= "," if counter < data[:limits].size %>
  <% end %>
   ], {
    <% if data[:cummulated] == "true" %>
      stackSeries: true,
    <% else %>
      stackSeries: false,
    <% end %>
    title: '<%=data[:y_label]%>',
    legend: {show: true, location: 'ne'},
    <% if data[:linegraph] == "true" %>
      seriesDefaults: {fill:false, showMarker: false},
    <% else %>
      seriesDefaults: {fill:true, showMarker: false},
    <% end %>
    series: [
      <% counter = 0 %>
      <% data[:lines].each do |line| %>
        <% if  line[:limit_reached].blank?  %>
          {label: '<%=line[:label]%>'}
        <% else %>
          {label: '<%=line[:label] + " " + line[:limit_reached]%>',
           color: '#FF0000'}
        <% end %>
        <% counter += 1 %>
        <%= "," if counter < data[:lines].size || data[:limits].size > 0 %>
      <% end %>
      <% counter = 0 %>
      <% data[:limits].each do |line| %>
        {fill:false, 
         <% unless line[:reached].blank? %>
           color:'#FF0000',
         <% else %>
           color:'#5FAB78',
         <% end %>
         lineWidth: 1,
         label: '<%= line[:label] + " " + line[:reached]  %>'}
         <% counter += 1 %>
         <%= "," if counter < data[:limits].size %>
      <% end %>
    ],
      axes: {
        xaxis: { renderer:$.jqplot.DateAxisRenderer,
                 <% if data[:minutes]==5 %>
                   tickOptions:{formatString:'%X'},
                 <% else %>
                   tickOptions:{formatString:'%H:%M'},
                 <% end %>
                 numberTicks:7},
        yaxis: { min: 0,
                 <% if data[:y_max] %>
                   max: <%= data[:y_max] %>,
                 <% end %>
                 <% if data[:y_decimal_places] %>
                   tickOptions:{formatString:'%.<%=data[:y_decimal_places]%>f'},
                 <% else %>
                   tickOptions:{formatString:'%.0f'},
                 <% end %>
                 numberTicks:5}
    },
    cursor: {  
      showVerticalLine:false,
      showHorizontalLine:false,
      showCursorLegend:false,
      showTooltip: true,
      zoom:true
    } 
  });
</script>

<p>
  <% measurement_id = "measurement_" + data[:group_id] + "_" + data[:graph_id]%>
  <%= _("Show last") %> 
    <select name="<%=measurement_id%>" id="<%=measurement_id%>">
        <option value="5" <%= " selected" if data[:minutes]==5 %>><%= _("5 Minutes") %></option>
        <option value="15" <%= " selected" if data[:minutes]==15 %>><%= _("15 Minutes") %></option>
        <option value="30" <%= " selected" if data[:minutes]==30 %>><%= _("30 Minutes") %></option>
        <option value="60" <%= " selected" if data[:minutes]==60 %>><%= _("1 Hour") %></option>
        <option value="360" <%= " selected" if data[:minutes]==360 %>><%= _("6 Hours") %></option>
        <option value="720" <%= " selected" if data[:minutes]==720 %>><%= _("12 Hours") %></option>
    </select>
    
    <% wait_gif_id = measurement_id + '_wait_gif' %>
    <%= image_tag("wait.gif", :alt=>"wait", :id=> wait_gif_id, :style=>"overflow:hidden;  display:none; vertical-align:middle;") %>

    <script type="text/javascript">
      $(document).ready(function() {
          $('#'+'<%= measurement_id %>').bind("change", function() {
            var url = '/status/evaluate_values?escape=false&graph_id=' + '<%= data[:graph_id] %>' + '&group_id=' + '<%= data[:group_id] %>';
            var data = 'minutes=' + $(this).val(); 
            $('#' + '<%= measurement_id %>' + '_wait_gif').show();
            
            var xhr = $.post(url, data, function(data) {
              $('#' + '<%= graph_id(data[:group_id], data[:graph_id]) %>').html(data)
            })

            .error(function() { 
               $('#' + '<%= graph_id(data[:group_id], data[:graph_id]) %>').html('<b><%= escape_javascript _("Error: Cannot get information.") -%></b>');
            })
            
            .complete(function() { 
                $('#' + '<%= wait_gif_id %>').hide();
            });
        });
    });
    </script>

</p>
<p>         
   <div id='<%= graph_id(data[:group_id], data[:graph_id])+"_graph" %>' style='width:400px;height:300px;float:left;'></div>
   <br style='clear: both'>
</p>
<% end %>



