<!--
# Copyright (c) 2009-2010 Novell, Inc.
#
# All Rights Reserved.
#
# This program is free software; you can redistribute it and/or modify it
# under the terms of version 2 of the GNU General Public License
# as published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, contact Novell, Inc.
#
# To contact Novell about this file by physical or electronic mail,
# you may find current contact information at www.novell.com
-->

<% write_disabled = !can?( :writelimits, Metric) %>

<% content_for :head do %>
  <%# FIXME: move this to a separate JS file %>
  <%= javascript_tag do -%>
    $(document).ready(function(){
      $(".accordion").accordion({
         navigation : true,
         active     : false,
         header     : 'fieldset legend',
         animated   : false,
         collapsible: true,
         autoHeight : false
      });

      $(".webyast_form").validate({
        // put the error message at the end (after the unit label)
        errorPlacement: function(error, element) {
          error.appendTo(element.parent());
        },

        // activate the tab containing error
        invalidHandler: function(form, validator) {
          // force displaying errors, they are displayed after this handler by default which is too late
          validator.showErrors();

          if (!$("input.error").is(":visible")) {
            $(".accordion > fieldset").each(function(idx, elem) {
              $(".accordion").accordion("option", "active", idx)
              if ($(elem).find("input.error").size() > 0) return false;
            });
          }
        }
      });

      // make the error message translatable
      $.extend($.validator.messages, {
        digits: <%= jss _("A valid number is required.") -%>
      });
    });
  <% end %>
  <%= stylesheet_link_tag "webyast-status" %>
<% end %>

<div class="plugin-content plugin-border">
<%= form_tag( {:action => :save} , { :class=>"webyast_form" }) do %>
  <div class="plugin-header">
    <div class="left">
      <label class="plugin-icon-container"><%= image_tag("monitoring.png", :class=>"plugin-icon") %></label>
      <label class="plugin-name"><%=_("Status") + header_spacer + _("Settings")%></label>
    </div>

    <%= render :partial => 'shared/online_help', :locals => { :help_name => "limits"} %>
    <div class="clearfix"></div>
  </div>

  <div class="clearfix">&nbsp;</div>
  <div class="accordion" style="padding:5px;">
  <% @graphs.each do |group| %>
    <fieldset id="<%= group.id %>" style="border:1px solid #d0d0d0; border-radius:2px; background-color:#f0f0f0" >
      <legend id="<%= group.id %>"><%= group.id %></legend>
      <div style="padding:5px;">
        <% group.single_graphs.each do |single_graph| %>
          <% group_name = (group.single_graphs.size > 1) ? single_graph["headline"] : "" %>
          <label>Alarm, if <%= group_name %></label>
          <fieldset class="small-labels">
          <% single_graph["lines"].each do |line| %>
            <% limit_key = "#{group.id}/#{single_graph["headline"]}/#{line["label"]}"
               measurements = {_("undercuts") => "min", _("exceeds") => "max"}
               if line["limits"]["max"].to_i > 0
                 val = line["limits"]["max"].to_i
                 measurement = "max"
               elsif line["limits"]["min"].to_i > 0
                 val = line["limits"]["min"].to_i
                 measurement = "min"
               else
                 val = ""
                 measurement = "max"
               end
            %>
            <p>
              <label for="#{limit_key}"><%="#{line["label"]}"%></label>
              <%= select_tag("measurement/"+limit_key, options_for_select(measurements, measurement), :disabled => write_disabled)%>
              <%= text_field_tag "value/"+limit_key, val, :disabled => write_disabled, :class => "digits" %>
              <%= "#{group.y_label}" %>
            </p>
          <% end %>
          </fieldset>
        <% end %>
      </div>
    </fieldset>
  <% end %>
  </div>

  <div class="button_container">
    <div class="hr">&nbsp;</div>
    <div class="nav-buttons">
      <%= form_next_button :disabled => write_disabled %>
      <%= form_str_spacer %>
      <%= form_back_button :action => :index%>    </div>
  </div>

<% end %>
</div>

