<h1>Export SSH</h1>
<% if @user.error_id != 0 %>
<p>
   Error ID: <%= @user.error_id -%>
   Error: <%= @user.error_string -%>
</p>
<% end %>

<% if @user.error_id == 0 or @user.error_id != 1 %>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :homeDirectory %><br />
    <%= f.text_field :homeDirectory %>
  </p>
  <p>
    <%= f.label :loginName %><br />
    <%= f.text_field :loginName %>
  </p>
  <p>
    <%= f.label :sshkey %> <br />
    <%= f.text_field :sshkey %>
  </p>
  <p>
    <%= f.submit "Export SSH-Key" %>
  </p>
<% end %>
<% end %>

<%= link_to 'Show', user_path(@user.loginName) %> |
<%= link_to 'Back', users_path %>
