<h1>Listing users</h1>

<table>
  <tr>
    <th>Loginname</th>
  </tr>

<% for user in @users %>
  <% if user.error_id != 0 %>
    <tr>
     <td>Error ID: <%= user.error_id -%> Error: <%= user.error_string -%></td>
    </tr>
  <% else %>
    <tr>
    <td><%=h user.loginName %></td>
    <td><%= link_to 'Show', user_path(user.loginName) %></td>
    <td><%= link_to 'Edit', edit_user_path(user.loginName) %></td>
    <td><%= link_to 'Destroy', user_path(user.loginName), :confirm => 'Are you sure?', :method => :delete %></td>
    <td><%= link_to 'export SSH-key', exportssh_user_path(user.loginName) %></td>
    </tr>
  <% end %>
<% end %>
</table>

<br />

<%= link_to 'New user', new_user_path %>
