<h1>YaST as a Service</h1>

<h2><%= link_to "services", :controller => 'services' -%></h2>
<h2><%= link_to "systemtime", :controller => 'systemtime' -%></h2>
<h2><%= link_to "language", :controller => 'language' -%></h2>
<h2><%= link_to "users", :controller => 'users' -%></h2>
<h2><%= link_to "install patches", :controller => 'patch_updates' -%></h2>
<br>
<br>
<h2><%= link_to "YaST Modules", :controller => 'yast_modules' -%></h2>

