<!--
# Copyright (c) 2009-2010 Novell, Inc.
#
# All Rights Reserved.
#
# This program is free software; you can redistribute it and/or modify it
# under the terms of version 2 of the GNU General Public License
# as published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, contact Novell, Inc.
#
# To contact Novell about this file by physical or electronic mail,
# you may find current contact information at www.novell.com
-->

<%= content_for :head do %>

 <%= stylesheet_link_tag "webyast-services" %>
 <%= javascript_include_tag "webyast-services" %>
 

 
 
 <!-- borrowed from users, until it is public -->
 <style type="text/css">
    .pad1_2em { padding: 1em 2em; }
    .ui-accordion .ui-accordion-content-active { display: inline; }
 </style>
 
 

 <%= render :partial => "shared/notification", :locals => { :module_name => 'services'} %>

<% end %>



<div class="plugin-content plugin-border">
  <div class="plugin-header">
    <div class="left">
      <label class="plugin-icon-container"><%= image_tag("system_services.png", :class=>"plugin-icon") %></label>
      <label class="plugin-name"><%= _("System Services") %></label>
      <span id="questionMark" style="margin:0px 5px; float:right;">?</span>
    </div>
  </div>

  <div class="clearfix">&nbsp;</div>


  <% unless can? :execute, Service %>
    <div id="heading" class="pad1_2em">
      <p class="missing-permissions"><%=_("You do not have permission to execute the services.")%></p> <!-- RORSCAN_ITL -->
    </div>
  <% end %>

  <div id="webyast-toolbar-container">
    <%=link_to image_tag("home.png", :class=>"home-icon"), :controller=>"controlpanel", :action => :index %>

    <form action="#" id="quicksearch">
      <label><%= _("Quick Search") %></label>
      <input type="text" id="service_search">
    </form>

    <label for="filter_services">
      <%=_("Filter services")%>
      <%= image_tag("filter.png")%>
    </label>

    <%= select_tag "filter_services", options_for_select([
      [ _("All"), "all"],
      [ _("Running"), "running"],
      [ _("Not Running"), "not-running"],
      [ _("Dead"), "dead"],
      [ _("Started on Boot"), "enabled"],
      [ _("Not Started on Boot"), "disabled"],
      ])
    %>
  </div>

  <div style="clear:both; overflow:hidden;"></div>

  <div id="services" class="accordion">
    <% commands = [ "start", "stop", "restart", "enable", "disable"]

      @services.each do |service| %>
        <div class="list-fieldset">
          <div class="list-fieldset-header" ><span class="service-icon"></span><%=h service.name %><em style="position:absolute; left:25%"><%= h service.summary%></em></div>
          <div class='service-content' style="display:none; padding-left: 1em;">

          <p class='description quicksearch_content'>
            <i><%= service.description ? h(service.description) : _("Description for service is not available") %></i>
            <%# This is a workaround for quicksearch plugin - it can search in _one_ element
              so we add the service name and summary here again and make it hidden so it is also
              searched but not displayed %>
            <span style="display: none"><%= h(service.name) + " " + h(service.summary) -%></span>
          </p>

          <%= image_tag "working.gif", :class => "small-working-icon", :id => "service_progress_#{service.name}", :style => "display: none" %>


          <div class='service_status' id='service_status_<%= h service.name%>'>
            <% unless service.status.nil? %>
              <%= render :partial => 'status', :locals => { :status => service.status, :enabled => service.enabled, :custom => service.custom } %>
            <% end %>
          </div>


          <span id='service_refresh_<%= h service.name%>'>
            <%= image_tag 'spinner.gif', :style => 'display: none', :id => "spinner_#{escape_javascript service.name}" %>
            <%= url = {
                  :controller => :services,
                  :id => service.name,
                  :action => :show_status,
                  :custom => service.custom
                }

                link_to _('(refresh)'), url, { :remote => true, :id => "refresh_#{escape_javascript service.name}", "data-type" => "html" }
             %>

            <%= render :partial => "refresh_ajax", :locals => { :service_name => service.name } %>
          </span>

          <p class="service-buttons">
            <!--# do not show enable/disable part for custom services -->
            <% commands.each do |cmd|	if (@exec_permission) && ! (service.custom && (cmd == "enable" || cmd == "disable")) %>
              <%= url = {
                    :id => cmd,
                    :action => "execute",
                    :service_id => service.name,
                    :custom => service.custom
                  }
                button_id = cmd + "_" + service.name
                status_url = {
                    :controler => :services,
                    :action => :show_status,
                    :id => service.name,
                    :custom => service.custom
                }
                html_options = {
                    :class => "button",
                    :id => button_id
                }
                html_options[:style] = "display: none" if (cmd == "start" && service.status == 0) || (cmd == "stop" && service.status != 0) ||
                  (cmd == "enable" && service.enabled) || (cmd == "disable" && !service.enabled)

                label = case cmd
                  when "start" then _("Start")
                  when "stop" then _("Stop")
                  when "restart" then _("Restart")
                  when "enable"	then _("Start on Boot")
                  when "disable" then _("Do Not Start on Boot")
                  else cmd
                end

                refresh = []
                # dependent services must also update status
                if (cmd == "start" || cmd == "restart" || cmd == "enable")
                  refresh = service.required_for_start
                elsif (cmd == "stop" || cmd == "disable")
                  refresh = service.required_for_stop
                end

              link_to label, url, {
                :remote     => true,
                 "data-type" => "html"
                }.merge(html_options)
          %>
            <%= render :partial => "execute_ajax", :locals => { :button_id => button_id, :service_name => service.name, :refresh => refresh } %>
          <%
         end
      end %>

      </p>
      <span class='service_result' id='service_result_<%=service.name%>'>
        <%= render :partial => 'result' %>
      </span>
    </div>
  </div>
  <% end %>
</div>

  <div class="clearfix">&nbsp;</div>

  <div class="button_container webyast_form" style="margin:5px 15px">
    <div class="hr">&nbsp;</div>
      <div class="nav-buttons">
        <%= form_back_button %>
      </div>
  </div>
</div>
