<!--
# Copyright (c) 2009-2010 Novell, Inc.
#
# All Rights Reserved.
#
# This program is free software; you can redistribute it and/or modify it
# under the terms of version 2 of the GNU General Public License
# as published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, contact Novell, Inc.
#
# To contact Novell about this file by physical or electronic mail,
# you may find current contact information at www.novell.com
-->

<%= content_for :head do %>
  <%= stylesheet_link_tag "webyast-terminal" %>
  <%= javascript_include_tag "webyast-terminal" %>
<% end %>

<div class="plugin-content plugin-border">
  <div class="plugin-header webyast_form clearfix">
    <div class="left">
      <label class="plugin-icon-container"><%= image_tag("terminal.png", :class=>"plugin-icon") %></label>
      <label class="plugin-name"><%= _("Terminal Client") %></label>
    </div>
  </div>

  <fieldset class="webyast_fieldset">
    <div class="fieldset_header">
      <div class="fieldset_header_title clearfix">
        <div style="float:left">
          <%= _("Web based terminal client") %>
        </div>
        <div style="float:right;">
          <%= image_tag "view-fullscreen.png", :size => "24x24", :class => 'fullscreen_icon' %>
          <a id="fullscreen" href="#"><%= _("Full Screen") %></a>
        </div>
      </div>
    </div>

    <div id="frameBorder">
      <div id="closeFullscreen">
        <%= image_tag "view-restore.png", :size => "24x24", :class => 'fullscreen_icon' %>
        <a id="fullscreen" href="#"><%= _("Exit Full Screen") %></a>
      </div>
      <iframe id="term_iframe" src="#" width="100%" height="100%"></iframe>
    </div>
  </fieldset>

</div>
