<h1>YaST-Module: <%=h @yastModule.id %></h1>

<table>
  <tr>
    <th>command</th>
    <th>option</th>
    <th>kind</th>
    <th>help</th>
  </tr>

  <% @yastModule.commands.each do |name,descr| %>
    <tr>
      <td><%=h name %></td>
      <td></td>
      <td></td>
      <td><%=h descr["help"]%></td>
    </tr>

    <% descr["options"].each do |nameOption,option| %>
      <tr>
        <td></td>
        <td><%=h nameOption %></td>
        <td><%=h option["type"]%></td>
        <td><%=h option["help"]%></td>
      </tr>
    <% end %>
  <% end %>
</table>

<br>

<%= link_to 'Back', yast_modules_path %>
